<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}プロ野球ダメ助っ人博物館{% endblock %}</title>
    <link rel="icon" href="{% static 'images/logimg_main.png' %}">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- ヘッダー -->
    <header>
        <div class="logo">
            <img src="{% static 'images/logimg_main.png' %}" alt="博物館ロゴ">
        </div>
        <button class="menu-toggle" aria-label="ナビゲーションを開く">☰ＭＥＮＵ</button>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const menuToggle = document.querySelector(".menu-toggle");
                const navMenu = document.querySelector(".nav-menu ul");

                menuToggle.addEventListener("click", function () {
                    navMenu.classList.toggle("show");
                });
            });
        </script>
        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'home' %}"> Home </a></li>
                <li class="main_title"><a href="{% url 'player' %}"> 殿堂選手紹介 </a></li>
                <li><a href="{% url 'request' %}"> 投票リクエスト </a></li>
                <li><a href="{% url 'news' %}"> お知らせ </a></li>
                <li><a href="{% url 'direct' %}"> お問い合わせ </a></li>
            </ul>
        </nav>
    </header>

    <!-- ページごとのコンテンツを表示 -->
    <main>
        {% block content %}
        <!-- 各ページ固有の内容がここに挿入されます -->
        {% endblock %}
    </main>


    <!-- フッター -->
    <footer>
        <ul>
            <li><a href="#">ご意見・ご要望</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">サイトポリシー</a></li>
        </ul>
        <p>Copyright © ダメ助っ人博物館 ～愛すべき助っ人たち～</p>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>
